<div class="courses-list">
  <div *ngFor="let course of currentCoursesPortion"
       class="item">
    <div class="photo-wrapper">
      <video [src]="course.meta.courseVideoPreview.link" autoplay [poster]="course.meta.courseVideoPreview.previewImageLink + '/cover.webp'" controls>
      </video>

      <img [src]="course.previewImageLink + '/cover.webp'" alt="preview image">
    </div>

    <div class="info" (click)="selectCourse(course.id)">
      <p class="title">{{course.title}}</p>

      <div class="details">
        <div>
          <div class="label">Skills:
            <span class="value">{{course.meta.skills | itemsList}}</span>
          </div>

          <div class="label">Lessons count:
            <span class="value">{{course.lessonsCount}}</span>
          </div>
        </div>

        <div class="rating">
          <img alt="star icon" class="icon" src="assets/icons/star-solid.svg">

          <p>{{course.rating}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-paginator (page)="changePage($event)"
               *ngIf="allCourses.length"
               [length]="allCourses.length"
               [pageSize]="10">
</mat-paginator>
